[Unit]
Description=TorrentOS Settings Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/torrentos/settingsd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
